---
import Table from '../components/Table';
import { getModelIdsAndNames } from '../sqlEngine';
import { data } from "./data.json"

import "../styles/global.css";

// Get the models for the server-side
const models = getModelIdsAndNames(data);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SQL Engine Demo</title>
  </head>
  <body>
      <Table idsAndNames={models} client:load />
  </body>
</html>
